body {
  font-family:'Open Sans', Arial, sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.6em;
  background-color: #f2f2f2;
  overflow-x:hidden;
  height:100%;


}

h1,h2,h3,h4,h5,h6 {
  color:#2eb82e;
  line-height:1.1em;
}

p {
  color:#333;
  font-size:13px;
}

a{
   color:#333;
}

.navbar a {
    color:#fff;
}

a:hover {
  text-decoration: underline;
  color:#804000;
  }

.table .thead-light th
{
  background:#3fbbc0;
  color:#fff;

}

.btn
{
  padding :3px 7px;
  margin-right:10px;

}


/*===========================
  Menu and Navigation
============================ */
.navbar  {
  padding:5px;
 background:#3fbbc0;
}

.navbar-brand h1 {
  margin-top:9px;
  padding-top:5px;
  float: left;
  font-size: 25px;
  text-transform:uppercase;
  font-weight:900;
   color:#fff;
}



/* --- footer --- */
.footer {
  background:#3fbbc0!important;
  padding: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}


